$o-colors-is-silent: false;

// Import colors module
@import '../../../main';
:root {
	--background: white;
	--foreground: black;
}

body {
	font-family: MetricWeb, sans-serif;
	max-width: 1300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
	padding-top: 20px;

	background-color: var(--background);
	color: var(--foreground);

	@media (max-width: 630px) {
		grid-template-columns: 1fr;
	}
}

.color-selectors {
	grid-area: 1 / 4 / span 3;
	min-width: 300px;

	.o-tabs--buttontabs[data-o-tabs--js][role="tablist"] {
		border-color: black;

		[role=tab] {
			color: black;
			border-color: black;
			background-color: oColorsGetPaletteColor('white');

			&[aria-selected=true] {
				background-color: oColorsGetPaletteColor('black-10');

				a {
					font-weight: 600;
				}
			}

			&[aria-selected=false] a {
				font-weight: 400;
			}
		}
	}

	.swatches {
		background-color: white;
		border: 1px solid black;
		border-top: 0;
		margin: 0; 

		span, 
		br {
			margin-bottom: 6px;
		}

		.o-forms-title__main,
		.o-forms-title__prompt {
			color: black;
		}
	}

	input[type=radio] {
		appearance: none;
		border: 1px solid lightgrey;
		height: 24px;
		width: 24px;
		cursor: pointer;
		
		&:checked {
			border: 2px solid deeppink;
		}

		&.o-overlay-trigger {
			background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Aplus?source=o-colors&width=24&height=24&tint=gray')
		}
	}
}

.o-overlay__content {
	> :first-child {
		margin: 0;
		border: 0;
		position: absolute;
		right: 20px;
	}

	#add-mix {
		background-image: none;
		font-size: inherit;
		float: none;
		margin: 10px 0 0;
	}

	fieldset {
		border: 0;
		padding: 0;
	}

	input[type=radio] {
		appearance: none;
		border: 1px solid lightgrey;
		height: 24px;
		width: 24px;
		cursor: pointer;
		
		&:checked {
			border: 2px solid deeppink;
		}

		&[name=range] {
			height: 48px;
			width: 22px;
		}
	}

	.o-forms-title__main {
		margin: 4px 0 8px;
		color: black;
	}

	button {
		display: block;
		margin-top: 12px;
	}
}

.rating-result--aaa,
.rating-result--aa {
	color: oColorsGetPaletteColor('jade');
}

.rating-result--aa18 {
	color: oColorsMix('crimson', 'lemon', 50);
}

.rating-result--fail {
	color: oColorsGetPaletteColor('crimson');
}

.contrast-info {
	grid-area: 1 / 2 / auto / span 2 ;

	color: black;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	margin-top: 28px;
	
	.o-forms-title__main {
		margin-bottom: 4px;
	}

	.contrast-combination {
		margin-bottom: 12px;
	}

	p {
		margin: 0;
	}
}

.contrast-text {
	grid-area: 2 / 2 / auto / span 2;
	font-size: 14px;

	code {
		font-size: 12px;
	}

	h3 {
		font-size: 18px;
		font-weight: 400;
		margin-top: 0;
	}
}
