<form class="color-selectors" id="color-selectors">
	<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs" role="tablist">
		<li role="tab" aria-selected="true"><a href="#foreground">Foreground Colour</a></li>
		<li role="tab"><a href="#background">Background Colour</a></li>
	</ul>

	<fieldset id="foreground" class="swatches swatches--foreground o-tabs__tabpanel">
		{{> fieldsets/foreground }}
		<span class="o-forms-title__main">Mixes</span>
		<label ">
			<input type="radio" class="o-overlay-trigger"
				data-o-overlay-src="#mixer-overlay"
				data-o-overlay-id="mixer-overlay"
				aria-pressed="false"
				aria-haspopup="true">
		</label>
	</fieldset>

	<fieldset id="background" class="swatches swatches--background o-tabs__tabpanel">
		{{> fieldsets/background}}
		<span class="o-forms-title__main">Mixes</span>
		<label title="Add mixed colour">
			<input type="radio" class="o-overlay-trigger"
				data-o-overlay-src="#mixer-overlay"
				data-o-overlay-id="mixer-overlay"
				aria-pressed="false"
				aria-haspopup="true">
		</label>
	</fieldset>

	{{> fieldsets/mixer }}
</form>


<div class="contrast-result" data-o-component='o-syntax-highlight'>
	<div>
		<span class='contrast-ratio'></span>
		<span class="wcag-rating rating-result"></span>
	</div>
	<p class="rating-message rating-result"></p>
</div>

<div class="contrast-showcase">
	<h3>This is an example of text at 18px</h3>
	<p>Everything else is 14px</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ultrices arcu. Donec faucibus euismod condimentum. Donec pharetra diam nunc, accumsan tempus est pellentesque nec. Vivamus eget fermentum lacus. Integer quis luctus leo, sed placerat mi. Duis suscipit elit quis tortor iaculis, nec accumsan orci varius. Vestibulum a volutpat nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eget velit felis. Donec tempus viverra urna eu varius. Ut tempus, nisi non consectetur dapibus, elit diam laoreet magna, in aliquam risus ipsum ut sem. Maecenas ut arcu tincidunt, luctus arcu quis, condimentum est. Phasellus consequat id massa at finibus. Nulla gravida lectus purus. Sed massa justo, pellentesque sit amet vehicula id, finibus vulputate leo.</p>
	</div>

