$o-colors-is-silent: false;

// Import colors module
@import '../../../main';

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	@media (max-width: 630px) {
		grid-template-columns: 1fr;
	}
}

.color-selectors {
	display: flex;
	justify-content: space-between;
	grid-area: 1 / 1;

	.swatches {
		flex-basis: 45%;
		border: 1px solid oColorsMix('black', 'white', 15);

		span, 
		br {
			margin-bottom: 6px;
		}
	}

	input[type=radio] {
		appearance: none;
		border: 1px solid lightgrey;
		height: 24px;
		width: 24px;
		cursor: pointer;
		
		&:checked {
			border: 1px solid deeppink;
		}
	}
}

body {
	font-family: MetricWeb, sans-serif;
}

.rating-result--aaa,
.rating-result--aa {
	color: oColorsGetPaletteColor('jade');
}

.rating-result--aa18 {
	color: oColorsMix('crimson', 'lemon', 50);
}

.rating-result--fail {
	color: oColorsGetPaletteColor('crimson');
}

.contrast-result {
	display: flex;
	flex-direction: column;
	padding: 20px 10px 0;
	border-top: 1px solid oColorsMix('black', 'white', 15);
	font-size: 18px;
	grid-area: 2 / 1;

	div {
		display: flex;
		justify-content: space-between;
		font-weight: 600;
	}
}

.contrast-showcase {
	padding: 20px;
	border: 1px solid oColorsMix('black', 'white', 15);
	grid-area: 1 / 2 / span 2;

	h3 {
		font-size: 18px;
		font-weight: 400;
	}

	&--text {
		font-size: 14px;
	}
}
