$o-colors-is-silent: false;

// Import colors module
@import '../../main';
$o-colors-button-size: 10px;

.container {
	max-width: 1100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
}

body{
	font-family: MetricWeb, sans-serif;
}

.o-buttons--submit-colors {
	margin: 0 $o-colors-button-size;
	width: calc(100% - #{2 * $o-colors-button-size});
}

.rating-result--aaa, .rating-result--aa {
	color: oColorsGetPaletteColor('jade');
}

.rating-result--aa18 {
	color: oColorsGetPaletteColor('mandarin');
}

.rating-result--fail {
	color: oColorsGetPaletteColor('crimson');
}

.contrast-result {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.contrast-showcase {
	padding: 20px;

	&--text {
		font-size: 14px;
	}
}
